/*******************************************************
 * ROFI configs i3 powermenu for EndeavourOS
 * Maintainer: joekamprad [joekamprad //a_t// endeavouros.com]
 *******************************************************/
configuration {
    font:            "MonoLisa-Regular 14";
    show-icons:      false;
    icon-theme:      "Qogir";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}

@import "~/.config/rofi/config.rasi"
