[Desktop Entry]
Version=1.0
Name=Edge Work
Exec=bash -c 'microsoft-edge --profile-directory="Profile 1"'
Icon=/opt/microsoft/msedge/product_logo_32.png
Terminal=false 
Type=Application
Categories=Application;
